@{
    ViewData["Title"] = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About Us</h1>
<hr />
<div class="row">
    <div class="col-sm-5">Auckland Institute of Studies</div>

</div>
<div class="row">
    <div class="col-sm-8">28 Linewood Avenue Mt Albet </div>

</div>
