
@{
    ViewData["Title"] = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Contact Us</h1>
<hr />
<div class="row">
    <div class="col-sm-5">Email Us: admin@ais.ac.nz</div>
   
</div>
<div class="row">
    <div class="col-sm-2">Phone: +642 0976352</div>
   
</div>


